div.pages-permission-content {
  height: 100%;
  //nz-input-group {
  //  margin-bottom: 12px;
  //}

  .permission-sider {
  }

  .permission-content {
    padding: 10px;
    background-color: white;
    //border-left: 1px solid lightgrey;
  }
}
