.pages-enterprise-content{

}

form.r-refer-form nz-form-item nz-form-control {
  width: 240px;
}
form.r-refer-form nz-form-item nz-form-control.row-2 {
  width: 590px;
}

form.r-refer-form nz-form-item nz-form-control .resolve-btn{
  position: absolute;
  left: 120px;
  top: 78px;
}
