.pages-product-content{

}
p.pre_money_regular_tips {
  margin-top: 8px;
  font-size: 12px;
  color: chocolate;
}

.dynamic-delete-button{
  cursor: pointer;
  position: absolute;
  right: 12px;
  font-size: 20px;
  color: #999;
  transition: all 0.3s;
}
