<app-status [status]="status" [statusText]="statusText" nz-popconfirm
            class="cursor-pointer" (click)="showStatusAction()"
            nz-tooltip nzTooltipPlacement="bottom" nzTooltipTrigger="click"
            [nzTooltipTitle]="statusTitleTemplate"></app-status>

<ng-template #statusTitleTemplate let-thing>
  <div style=" width: 780px; background: white; padding: 24px 24px 0 24px;">
    <nz-timeline>
      <ng-container *ngFor="let logback of currentOrderCopyrightFlowData">
        <nz-timeline-item nzColor="green">
          <nz-space>
              <span *nzSpaceItem nz-typography nz-tooltip nzTooltipPlacement="bottom"
                    [nzTooltipTitle]="logback.remarks">【流程】</span>
            <a *nzSpaceItem nz-typography>{{logback.preStatusText}} </a>
            <span *nzSpaceItem nz-typography> To </span>
            <a *nzSpaceItem nz-typography> {{logback.statusText}} </a>
            <span *nzSpaceItem nz-typography> 操作人：</span>
            <a *nzSpaceItem nz-typography>{{logback.creator}} </a>
            <span *nzSpaceItem nz-typography> 操作时间：</span>
            <a *nzSpaceItem nz-typography>{{ logback.gmtCreate  | date:'yyyy-MM-dd HH:mm'}}</a>
            <ng-template [ngIf]="logback.remarks">
              <app-tooltip *nzSpaceItem [text]="logback.remarks"></app-tooltip>
            </ng-template>
            <ng-template [ngIf]="logback.path">
              <app-tooltip *nzSpaceItem [text]="'有文件可下载'" [iconType]="'cloud-download'" iconColor="color-blue"
                           (click)="downloadFileAction(logback.path)"></app-tooltip>
            </ng-template>
          </nz-space>
        </nz-timeline-item>
      </ng-container>
    </nz-timeline>
  </div>
</ng-template>
